Introducción a Pandas

*Pandas es una libreria open source construida sobre NumPy.
*Nos permite anlilzar, limpiar y prepar datos de un manara facil.
*Es una version mejorada y más que Excel.
*Tambien tinen sus pripias caracteristicas de visualización.
*Puede Trabajar con datos de un aplica de variedad.

Podemos instalar pandas via conda o pip.

        * conda install pandas
        * pip install pandas
        * pip3 install pandas
        
* Series.
* Data Frames.
* Agrupaciones-GroupBy
* Concatenación, Uniones , Merge.
* Operaciones.
* Datos de entrada y salida.

In [2]:
import pandas

Series

In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
etiquetas = ['A', 'B', 'C']

In [6]:
my_data = [10,20,30]

In [7]:
arr = np.array(my_data)

In [8]:
arr

array([10, 20, 30])

In [9]:
etiquetas

['A', 'B', 'C']

In [10]:
d = {'a':10, 'b':20, 'c':30}

In [11]:
d

{'a': 10, 'b': 20, 'c': 30}

In [12]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [14]:
pd.Series(data = my_data, index = etiquetas)

A    10
B    20
C    30
dtype: int64

In [15]:
pd.Series(etiquetas, my_data)

10    A
20    B
30    C
dtype: object

In [16]:
pd.Series(my_data, etiquetas)

A    10
B    20
C    30
dtype: int64

In [17]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [20]:
pd.Series(data=[sum, len, str])

0    <built-in function sum>
1    <built-in function len>
2               <type 'str'>
dtype: object

In [21]:
ser1 = pd.Series([1,2,3,4], ['USA','MEXICO', 'ALEMANIA', 'JAPON'])

In [22]:
ser2 = pd.Series([1,2,3,4], ['USA', 'MEXICO', 'ITALIA', 'JAPON'])

In [23]:
ser1

USA         1
MEXICO      2
ALEMANIA    3
JAPON       4
dtype: int64

In [24]:
ser2

USA       1
MEXICO    2
ITALIA    3
JAPON     4
dtype: int64

In [25]:
ser3 = pd.Series(data=etiquetas)

In [26]:
ser2["ITALIA"]

3

In [27]:
ser3

0    A
1    B
2    C
dtype: object

In [28]:
ser3[0]

'A'

DataFrames la herramienta principal de Pandas

In [29]:
import numpy as np

In [30]:
import pandas as pd

In [31]:
from numpy.random import randn

In [32]:
np.random.seed(101)

In [33]:
df = pd.DataFrame(randn(5,4), ['A','B','C','D','E'], ['W','X','Y','Z'])

In [34]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [35]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [40]:
type(df['W'])

pandas.core.series.Series

In [41]:
df[['W','X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872
E  0.190794  1.978757

In [42]:
df['new'] = df['W'] + df['X']

In [43]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [46]:
df.drop('new', axis=1, inplace=True)

In [47]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [48]:
df.drop('A')

          W         X         Y         Z
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [51]:
df.shape

(5, 4)

In [52]:
type(df.shape)

tuple

In [53]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [54]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [55]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [56]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [57]:
df.loc['B', 'Y']

-0.84807698340363147

In [59]:
df.loc[['A','B'], ['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [60]:
df.loc[['A','B'], ['W','Y']].mean()

W    1.678984
Y    0.029946
dtype: float64

In [61]:
df.loc[['A','B'], ['W','Y']].sum()

W    3.357968
Y    0.059892
dtype: float64

In [62]:
df.loc[['A','B'], ['W','Y']].median()

W    1.678984
Y    0.029946
dtype: float64

In [63]:
df.loc[['A','B'], ['W','Y']].max()

W    2.706850
Y    0.907969
dtype: float64

In [64]:
df.loc[['A','B'], ['W','Y']].min()

W    0.651118
Y   -0.848077
dtype: float64

In [65]:
df.loc[['A','B'], ['W','Y']].count()

W    2
Y    2
dtype: int64

In [66]:
df.loc[['A','B'], ['W','Y']].pow(10)

              W         Y
A  21117.458169  0.380814
B      0.013696  0.192465

In [70]:
df.loc[['A','B'], ['W','Y']].pow(1/2)

     W    Y
A  1.0  1.0
B  1.0  1.0

DataFrames parte 2

Selección condicional usando notación de corchetes.

In [72]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [73]:
df > 0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [74]:
booldf = df > 0

In [75]:
booldf

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [76]:
df[booldf]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [77]:
df[df > 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [78]:
df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [79]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [80]:
df[df['Z']<0]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [81]:
df[df['W']>0][['Y', 'X']].sum()

Y    1.732623
X    1.528700
dtype: float64

In [83]:
df[(df['W']>0) & (df['Y']>1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [84]:
df[(df['W']>0) | (df['Y']>1)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509