"String(cadenas), variables, Entero(int)"

In [3]:
print "hola mundo"

hola mundo

In [4]:
print ('Hola, mundo')

Hola, mundo

In [5]:
print (type('Hola, mundo'))

<type 'str'>

In [7]:
print ('Hola mundo ' + ' jorge')

Hola mundo  jorge

In [9]:
print ('Hola ' * 3)

Hola Hola Hola

In [ ]:
# Variables

In [10]:
v1 = 'Esta es una cadena'

In [11]:
type (v1)

str

In [12]:
len (v1)

18

In [13]:
print (len(v1))

18

In [14]:
v2 = ' Jorge '

In [18]:
v3 = 'Como te ha ido!'

In [19]:
saludo = v2 + v3

In [20]:
print (saludo)

 Jorge Como te ha ido!

In [23]:
'Concatenamos la variable v1 a v2 y v3,  %s ves %s'% (v1,saludo)

'Concatenamos la variable v1 a v2 y v3,  Esta es una cadena ves  Jorge Como te ha ido!'

operaciones en python

In [24]:
print 3 +4

7

In [30]:
print 'Es lo mismo 5**2 = %i que pow(5,2) = %i' % (5**2, pow(5,2))

Es lo mismo 5**2 = 25 que pow(5,2) = 25

In [31]:
def fib(n):
    if n < 2:
        return n
    else:
        return fib(n-1)+fib(n-2)

In [37]:
a = fib(9)

In [38]:
def suma(a,b):
    return a + b

In [40]:
import math
print suma(a,math.pi)

37.1415926536

In [41]:
if 'jorge' is 'jorge':
    print 'iguales'
else:
    print "no son iguales"

iguales

Listas

In [47]:
l = [1,4,6,3,2,5,7]

In [48]:
print(type(l))

<type 'list'>

In [49]:
l[5]

5

In [50]:
len(l)

7

In [53]:
l.sort()

In [54]:
l

[1, 2, 3, 4, 5, 6, 7]

In [57]:
l.reverse()

In [58]:
l

[7, 6, 5, 4, 3, 2, 1]

In [59]:
nombre = ['jorge','manuel','oscar','rafael']

In [60]:
type(l[0])

int

In [61]:
type(nombre[0])

str

In [64]:
nombre[0][3]

'g'

In [65]:
nombre.append('javier')

In [66]:
nombre

['jorge', 'manuel', 'oscar', 'rafael', 'javier']

In [67]:
nombre.pop(3)

'rafael'

In [68]:
nombre.pop(0)

'jorge'

In [70]:
nombre.insert(0,'Jorge')

In [71]:
nombre

['Jorge', 'manuel', 'oscar', 'javier']

In [73]:
nombre.append(['caracter',34,math.pi])

In [74]:
nombre

['Jorge', 'manuel', 'oscar', 'javier', ['caracter', 34, 3.141592653589793]]

In [75]:
#for

In [77]:
for i in nombre:
    print i

Jorge
manuel
oscar
javier
['caracter', 34, 3.141592653589793]

In [78]:
len(nombre)

5

In [82]:
for i in nombre:
    print i
    for j in nombre[4]:
        print j

Jorge
caracter
34
3.14159265359
manuel
caracter
34
3.14159265359
oscar
caracter
34
3.14159265359
javier
caracter
34
3.14159265359
['caracter', 34, 3.141592653589793]
caracter
34
3.14159265359

In [83]:
#diccionarios

In [87]:
d = {"Nombres":nombre}

In [88]:
d

{'Nombres': ['Jorge',
  'manuel',
  'oscar',
  'javier',
  ['caracter', 34, 3.141592653589793]]}

In [94]:
d1 = {"N": nombre[:4]}

In [95]:
d1

{'N': ['Jorge', 'manuel', 'oscar', 'javier']}

In [96]:
type(d1)

dict

In [120]:
L = ['Juan', 'Pedro', 24, 50.5]
O = []
for i in L:
    if isinstance(i,int) or isinstance(i,float):
        O.append(i)
print(O)

[24, 50.5]

In [134]:
def misuma(L):
    O = []
    suma = 0
    for i in L:
        if isinstance(i,int) or isinstance(i,float):
           suma += i
    return suma

In [135]:
print misuma(['pedro',5,7.9,12,'juan'])

24.9

In [136]:
#Objetos

In [137]:
class Animal:
    ruido = 'Ladra'
    size = 'grande'
    color = 'cafe'
    ojos = 'azules'
    raza = 'husky'
    
    def get_color(self):
        return self.color
    
    def has_ruido(self):
        return self.ruido

In [138]:
class Perro(Animal):
    nombre = 'Kyo'

In [140]:
perro = Perro()

In [141]:
type(perro)

instance

In [142]:
print perro.nombre

Kyo

In [144]:
perro.has_ruido()

'Ladra'

In [145]:
perro.get_color()

'cafe'