# Introduccíón Pandas

*Pandas es una librería open source construida sobre numpy.
*Nos permite analizar, limpiar preparar datos de una manera fácil}
*Es una versión mejorada y mas que exel
*Tambientienen

In [3]:
import numpy as np
import pandas as pd

In [8]:
etiquetas = ['A','B','C']

In [10]:
misdatos = [10,20,30]

In [12]:
arr = np.array(misdatos)

In [13]:
arr

array([10, 20, 30])

In [14]:
d = {'A':10,'B':20,'C':30}

In [15]:
d

{'A': 10, 'B': 20, 'C': 30}

In [17]:
pd.Series(data=misdatos)

0    10
1    20
2    30
dtype: int64

In [19]:
arr[1]

20

In [20]:
pd.Series(data=misdatos, index = etiquetas)

A    10
B    20
C    30
dtype: int64

In [21]:
pd.Series(etiquetas,misdatos)

10    A
20    B
30    C
dtype: object

In [22]:
pd.Series(d)

A    10
B    20
C    30
dtype: int64

In [33]:
util=pd.Series(data=[sum, len, str])

In [24]:
ser1 = pd.Series([1,2,3,4],['USA','MEXICO','ALEMANIA','JAPON'])

In [26]:
ser2 = pd.Series([1,2,3,4],['USA','MEXICO','JAPON','ITALIA'])

In [27]:
ser1

USA         1
MEXICO      2
ALEMANIA    3
JAPON       4
dtype: int64

In [28]:
ser2

USA       1
MEXICO    2
JAPON     3
ITALIA    4
dtype: int64

In [29]:
ser3 = pd.Series(data=etiquetas)

In [30]:
ser3

0    A
1    B
2    C
dtype: object

In [31]:
ser3[0]

'A'

In [32]:
ser2['ITALIA']

4

### DataFrames

In [36]:
import numpy as np

In [37]:
import pandas as pd

In [38]:
from numpy.random import randn

In [39]:
np.random.seed(101)

In [40]:
df = pd.DataFrame(randn(5,4), ['A','B','C','D','E'],['F','G','H','I'])

In [41]:
df

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [43]:
df['I']

A    0.503826
B    0.605965
C   -0.589001
D    0.955057
E    0.683509
Name: I, dtype: float64

In [45]:
df['I']['E']

0.68350888553891453

In [47]:
df['new']= df['G']+df['I']

In [48]:
df

          F         G         H         I       new
A  2.706850  0.628133  0.907969  0.503826  1.131958
B  0.651118 -0.319318 -0.848077  0.605965  0.286647
C -2.018168  0.740122  0.528813 -0.589001  0.151122
D  0.188695 -0.758872 -0.933237  0.955057  0.196184
E  0.190794  1.978757  2.605967  0.683509  2.662266

In [49]:
df.drop('new', axis=1, inplace=True)

In [50]:
df

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [51]:
df.shape

(5, 4)

In [52]:
type(df.shape)

tuple

In [56]:
df.loc['A']

F    2.706850
G    0.628133
H    0.907969
I    0.503826
Name: A, dtype: float64

In [58]:
df.iloc[0]

F    2.706850
G    0.628133
H    0.907969
I    0.503826
Name: A, dtype: float64

In [63]:
df.loc[['A','B'],['H','I']]

          H         I
A  0.907969  0.503826
B -0.848077  0.605965

In [64]:
df.loc[['A','B'],['H','I']].mean()

H    0.029946
I    0.554896
dtype: float64

In [65]:
df.loc[['A','B'],['H','I']].count()

H    2
I    2
dtype: int64

In [66]:
df.loc[['A','B'],['H','I']].median()

H    0.029946
I    0.554896
dtype: float64

In [67]:
df.loc[['A','B'],['H','I']].min()

H   -0.848077
I    0.503826
dtype: float64

In [68]:
df.loc[['A','B'],['H','I']].max()

H    0.907969
I    0.605965
dtype: float64

In [69]:
df.loc[['A','B'],['H','I']].pow(10)

          H         I
A  0.380814  0.001054
B  0.192465  0.006675

In [70]:
df.loc[['A','B'],['H','I']].pow(1/2)

     H    I
A  1.0  1.0
B  1.0  1.0

## DataFrames Parte 2

Selección condicional usando notación de corchetes

In [71]:
df

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [73]:
booldf = df > 0

In [74]:
df[booldf]

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [75]:
df[df>0]

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [77]:
df[df['F']>0]

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [78]:
df[df['H']<0]

          F         G         H         I
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057

In [79]:
df[df['H']<0].sum()

F    0.839813
G   -1.078190
H   -1.781314
I    1.561022
dtype: float64

In [82]:
df[df['G']>0.5].count()

F    3
G    3
H    3
I    3
dtype: int64

In [83]:
df[df['F']< 0.5][['H','I']]

          H         I
C  0.528813 -0.589001
D -0.933237  0.955057
E  2.605967  0.683509

In [84]:
df[df['F']< 0.5][['H','I']].sum()

H    2.201544
I    1.049565
dtype: float64

In [85]:
df.loc['B']

F    0.651118
G   -0.319318
H   -0.848077
I    0.605965
Name: B, dtype: float64

In [88]:
df.loc[['B']]>0

      F      G      H     I
B  True  False  False  True

In [89]:
df[df.loc[['B']]>0].sum()

F    0.651118
G         NaN
H         NaN
I    0.605965
dtype: float64

In [93]:
df[(df['F']>0) & (df['I']>0)]

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [94]:
df[(df['F']>0) & (df['I']>0)].mean()

F    0.934364
G    0.382175
H    0.433156
I    0.687089
dtype: float64

In [96]:
df[(df['F']<0) | (df['I']>0)].mean()

F    0.343858
G    0.453764
H    0.452287
I    0.431871
dtype: float64