"Strings(cadenas), variables, Entero(int)"

In [2]:
print ("Hola, Mundo!")

Hola, Mundo!

In [3]:
print ('Hola, Mundo!')

Hola, Mundo!

In [4]:
print (type('Hola, Mundo!'))

<type 'str'>

In [5]:
print ("""Hola, Mundo!
          mas cosas bla bla""")

Hola, Mundo!
          mas cosas bla bla

In [6]:
print ("Hola Mundo " + "Christian")

Hola Mundo Christian

In [8]:
print ("Hola Christian " * 3)

Hola Christian Hola Christian Hola Christian

In [9]:
#Variables

In [24]:
v1 = "Christian "

In [11]:
type(v1)

str

In [12]:
print(type(v1))

<type 'str'>

In [13]:
v2 = "Como estas!"

In [14]:
print (v1[0])

C

In [15]:
print v1[0]

C

In [16]:
print (v1.len())

AttributeError: 'str' object has no attribute 'len'

In [18]:
print (len(v1))

9

In [19]:
print (v1[8])

n

In [26]:
saludo = v1 + v2

In [27]:
print (saludo)

Christian Como estas!

In [37]:
"Otro %s con mas texto %s"%(v1,v2)

'Otro Christian  con mas texto Como estas!'

In [34]:
v1 + 10

TypeError: cannot concatenate 'str' and 'int' objects

In [35]:
v1 + str(10)

'Christian 10'

In [40]:
print "{} {}".format(hello, world)

NameError: name 'hello' is not defined

In [41]:
#Enteros

In [42]:
print 1 + 3

4

In [43]:
print 5 -2

3

In [44]:
print 5/2

2

In [45]:
print 5/2.0

2.5

In [46]:
print type(5/2)

<type 'int'>

In [47]:
print type(5/2.0)

<type 'float'>

In [48]:
n = 5

In [49]:
r = n**2

In [50]:
print r

25

In [51]:
print(pow(5,2))

25

In [52]:
def suma(a,b):
    return a + b

In [53]:
print suma(n, r)

30

In [54]:
import math
print suma(n, math.pi)

8.14159265359

In [55]:
print suma(3, 4.5)

7.5

In [56]:
if 5 < 4 :
    print " 5 es mayor que 4"
    print "otro"
else:
    print "5 no es mayor que x"

5 no es mayor que x

In [57]:
if suma(3, 4.5) < suma(4, 4):
    print " algo"
else:
    print "no es verdad"

 algo

In [60]:
if "Christian" is "Christian":
    print "iguales"
else:
    print "no son iguales"

iguales

In [61]:
#Listas

In [66]:
l = [1,3,7,5,6,20]

In [63]:
print(type(l))

<type 'list'>

In [64]:
len(l)

6

In [65]:
l[3]

5

In [67]:
l.sort()

In [68]:
l

[1, 3, 5, 6, 7, 20]

In [69]:
print(l.reverse())

None

In [72]:
l.reverse()

In [73]:
l

[20, 7, 6, 5, 3, 1]

In [76]:
nombre = ["Christian", "Sergio", "Rene", "Ray"]

In [75]:
type(l[0])

int

In [77]:
type(nombre[0])

str

In [78]:
nombre[0][3]

'i'

In [79]:
nombre.append("Jose")

In [80]:
nombre

['Christian', 'Sergio', 'Rene', 'Ray', 'Jose']

In [81]:
nombre.pop()

'Jose'

In [82]:
nombre

['Christian', 'Sergio', 'Rene', 'Ray']

In [83]:
nombre.insert(0, "Jose")

In [84]:
nombre

['Jose', 'Christian', 'Sergio', 'Rene', 'Ray']

In [85]:
nombre.insert(6, "no existe")

In [86]:
nombre

['Jose', 'Christian', 'Sergio', 'Rene', 'Ray', 'no existe']

In [87]:
nombre.pop()

'no existe'

In [88]:
nombre

['Jose', 'Christian', 'Sergio', 'Rene', 'Ray']

In [89]:
nombre.append(23.0)

In [90]:
nombre

['Jose', 'Christian', 'Sergio', 'Rene', 'Ray', 23.0]

In [91]:
nombre.append(["Crh", 10 , math.pi])

In [92]:
nombre

['Jose',
 'Christian',
 'Sergio',
 'Rene',
 'Ray',
 23.0,
 ['Crh', 10, 3.141592653589793]]

In [93]:
#for loop

In [94]:
for i in range(len(nombre)):
    print (nombre[i])

Jose
Christian
Sergio
Rene
Ray
23.0
['Crh', 10, 3.141592653589793]

In [95]:
for i in nombre:
    print i

Jose
Christian
Sergio
Rene
Ray
23.0
['Crh', 10, 3.141592653589793]

In [101]:
for i in nombre:
    print i
    for j in nombre[6]:
        print j

Jose
Crh
10
3.14159265359
Christian
Crh
10
3.14159265359
Sergio
Crh
10
3.14159265359
Rene
Crh
10
3.14159265359
Ray
Crh
10
3.14159265359
23.0
Crh
10
3.14159265359
['Crh', 10, 3.141592653589793]
Crh
10
3.14159265359

In [102]:
#diccionarios

In [103]:
d = {"nombre":"Christian"}

In [104]:
d["nombre"]

'Christian'

In [106]:
d = {"Nombres": nombre}

In [109]:
d["Nombres"]

['Jose',
 'Christian',
 'Sergio',
 'Rene',
 'Ray',
 23.0,
 ['Crh', 10, 3.141592653589793]]

In [111]:
d.update({"telefonos":["6642322422", "664232425", "664212324"]})

In [113]:
d.update({1:"hola"})

In [114]:
d

{1: 'hola',
 'Nombres': ['Jose',
  'Christian',
  'Sergio',
  'Rene',
  'Ray',
  23.0,
  ['Crh', 10, 3.141592653589793]],
 'telefonos': ['6642322422', '664232425', '664212324']}

In [115]:
d[1]

'hola'

In [116]:
d[1]="Como estan!"

In [117]:
d

{1: 'Como estan!',
 'Nombres': ['Jose',
  'Christian',
  'Sergio',
  'Rene',
  'Ray',
  23.0,
  ['Crh', 10, 3.141592653589793]],
 'telefonos': ['6642322422', '664232425', '664212324']}

In [118]:
d[1]={"d":{"otro":[1,2,3,4]}}

In [119]:
d

{1: {'d': {'otro': [1, 2, 3, 4]}},
 'Nombres': ['Jose',
  'Christian',
  'Sergio',
  'Rene',
  'Ray',
  23.0,
  ['Crh', 10, 3.141592653589793]],
 'telefonos': ['6642322422', '664232425', '664212324']}

In [120]:
d[1]

{'d': {'otro': [1, 2, 3, 4]}}

In [121]:
type(d[1])

dict

In [124]:
d[1]['d']['otro'][1]

2

In [125]:
l

[20, 7, 6, 5, 3, 1]

In [126]:
nombre

['Jose',
 'Christian',
 'Sergio',
 'Rene',
 'Ray',
 23.0,
 ['Crh', 10, 3.141592653589793]]

In [127]:
n = ["Christian", "Jose", "Ray"]

In [128]:
isinstance(n[0], str)

True

In [129]:
isinstance(l[0], int)

True

In [130]:
class Animal():
    ruido = "ladra"
    size = "grande"
    color = "cafe"
    ojos = "azules"
    raza = "husky"
    
    def get_color(self):
        return self.color
    
    def has_ruido(self):
        return self.ruido

In [131]:
class Perro(Animal):
    nombre = "Kyo"

In [132]:
perro = Perro()

In [133]:
type(perro)

instance

In [134]:
print perro.nombre

Kyo

In [135]:
perro.get_color()

'cafe'

In [136]:
perro.color ="gris"

In [137]:
perro.get_color()

'gris'

In [138]:
perro.has_ruido()

'ladra'