In [3]:
"Strings(cadenas)"

'Strings(cadenas)'

In [4]:
print("Hola")

Hola

In [5]:
print('jose')

jose

In [7]:
print(type('hola'))

<type 'str'>

In [9]:
print("""  fdsdkfldf ddsfdsfkl
dsfdsf dsfdsfdsñk
  bbnbn   
  jose""")

  fdsdkfldf ddsfdsfkl
dsfdsf dsfdsfdsñk
  bbnbn
  jose

In [10]:
print("hello " + "  jose ")

hello   jose

In [11]:
print("hello " *5)

hello hello hello hello hello

In [12]:
#variables

In [13]:
vl = "jose"

In [14]:
type(vl)

str

In [15]:
print(vl[0])

j

In [18]:
len(vl)

4

In [19]:
"otro %s con mas texto %d"%(vl,10)

'otro jose con mas texto 10'

In [20]:
#Integers

In [21]:
print 1+3

4

In [25]:
print 5/2.0

2.5

In [24]:
print 5//2.0

2.0

In [27]:
print type(5/2.0)

<type 'float'>

In [28]:
print type(5//2.0        )

<type 'float'>

In [29]:
n=5

In [30]:
r=n**2

In [31]:
print r

25

In [32]:
print ( pow(5,3))

125

In [33]:
def suma(a,b):
    return a+b

In [34]:
print suma(6,5)

11

In [35]:
a=3

In [36]:
b=45

In [37]:
print suma(a,b
          )

48

In [39]:
def fib(n):
    if n<2:
       return n
    else :
       return fib(n-1)+fib(n-2)

In [42]:
print fib(9)

34

In [43]:
if 5<4 :
    print " 5 es mayor"
else:
    print "5 es menor"

5 es menor

In [45]:
if suma(3,4.5) < suma(4,4):
    print "algo"
else :
    print "no es verdad"

algo

In [47]:
if "Jose" is "jose":
    print "son iguales"
else:
    print "NO"

NO

In [51]:
l=[7,2,5,4,3,6,1]

In [49]:
print(type(l))

<type 'list'>

In [50]:
l[3]

4

In [52]:
l

[7, 2, 5, 4, 3, 6, 1]

In [55]:
l.reverse()

In [54]:
l

[1, 6, 3, 4, 5, 2, 7]

l.reverse()

l

In [56]:
l

[7, 2, 5, 4, 3, 6, 1]

In [57]:
l.sort()

In [58]:
l

[1, 2, 3, 4, 5, 6, 7]

In [59]:
l.reverse()

In [60]:
l

[7, 6, 5, 4, 3, 2, 1]

In [66]:
nombre=['jose' , 'tec', 'enrique','tijuana']

In [67]:
nombre[0][3]

'e'

nombre.append("jose")

nombre

In [72]:
 nombre

['jose', 'juan', 'tec', 'enrique', 'tijuana']

In [70]:
nombre.insert(1,'juan')

In [69]:
#for loop

In [73]:
for i in range(len(nombre)):
    print i

0
1
2
3
4

In [74]:
for i in nombre:
    print i

jose
juan
tec
enrique
tijuana

In [76]:
nombre.pop(1)

'juan'

In [77]:
nombre

['jose', 'tec', 'enrique', 'tijuana']

In [80]:
for i in nombre:
    print i
    for j in nombre[3]:
        print j

jose
t
i
j
u
a
n
a
tec
t
i
j
u
a
n
a
enrique
t
i
j
u
a
n
a
tijuana
t
i
j
u
a
n
a

In [81]:
#diccionarios

In [82]:
d={"nombre":"jose"}

In [83]:
d["nombre"]

'jose'

In [84]:
d={"Nombres":nombre}

In [86]:
d["Nombres"]

['jose', 'tec', 'enrique', 'tijuana']

In [89]:
d.update({"telefono":["6642343434","3454564567"]})

In [90]:
d

{'Nombres': ['jose', 'tec', 'enrique', 'tijuana'],
 'telefono': ['6642343434', '3454564567']}

In [141]:
n=['jose','enrique','tec',2.33,5.0,'tijuana',23.0,34]

In [120]:
n3=[]

In [121]:
def analiza_lista(n2):
   for i in n2:
      if isinstance(i,float):
         print i
         n3.append(i)

In [122]:
analiza_lista(n)
print n3

2.33
5.0
23.0
[2.33, 5.0, 23.0]

jose
enrique
tec
2.33
5.0
tijuana
23.0

In [123]:
sum(n3)

30.33

In [137]:
def suma(n2):
   suma=0.0 
   for i in n2:
      if isinstance(i,float) or isinstance(i,int):
         suma+=i
   return suma

In [142]:
print suma(n)

64.33

In [139]:
print s

30.33

In [143]:
#classes

In [144]:
class Animal():
    ruido='ladra'
    size = 'grande'
    color='cafe'
    ojos = 'azules'
    raza = 'husky'
    
    def get_color(self):
        return self.color
    
    def has_ruido(self):
        return self.ruido

In [146]:
class Perro(Animal):
    nombre='Samby'

In [151]:
perro = Perro()

In [152]:
type(perro)

instance

In [153]:
perro.nombre

'Samby'

In [154]:
perro.get_color()

'cafe'